<!--离线命令词识别-->
<launch>
  <!-- 迅飞SDK用户ID配置 -->
  <rosparam command="load" file="$(find robot_voice_control)/config/appid_params.yaml" />
  <!-- 设置为功能包的路径 -->
  <arg name="package_path" default = "$(find robot_voice_control)" />

  <!-- 主控程序，对接麦克风阵列和SDK，并将SDK识别结果通过topic发布给唤醒控制器或指令控制器 -->
  <node pkg="robot_voice_control" type="voice_control" name="voice_control" output="screen">
    <param name="source_path" type="string" value="$(find robot_voice_control)"/>  
  </node>
</launch>
